
				@import url('//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
				
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Poppins&display=swap');
					
					@import url('//fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
					html, body {font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h1{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h2{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h3{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h4{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h5{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}h6{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}.price-box .price{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}#mainMenu a.level0, nav.navigation a.level-top{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}button.action{font-family:'Poppins', 'Open Sans', 'Helvetica Neue';}blockquote,.sub-title, .content-heading .block-note{font-family:'Libre Baskerville', 'Open Sans', 'Helvetica Neue';font-weight:400;}body{}.page-header {}.page-header .panel.wrapper, .page-header .top-header, .header .top-header {background-color:#ffffff !important;}header .middle-header, .page-wrapper .header.content{}footer.page-footer, .page-footer .middle-footer, .page-footer .bottom-footer{}.mgs-carousel-single .owl-nav div img{width:40px}.mgs-carousel-single .owl-nav div span{width:40px}.mgs-carousel-single .owl-nav div span, .mgs-carousel-single .owl-nav div span em{height:80px; line-height:80px}.mgs-carousel-single.nav-position-middle-outside .owl-nav div span, .mgs-carousel-single.nav-position-middle-inside .owl-nav div span{margin-top:-40px}.mgs-carousel-single .owl-nav div span em{font-size:80px;}.mgs-carousel-multiple .owl-nav div img{width:40px}.mgs-carousel-multiple .owl-nav div span{width:40px}.mgs-carousel-multiple .owl-nav div span, .mgs-carousel-multiple .owl-nav div span em{height:40px; line-height:40px}.mgs-carousel-multiple.nav-position-middle-outside .owl-nav div span, .mgs-carousel-multiple.nav-position-middle-inside .owl-nav div span{margin-top:-20px}.mgs-carousel-multiple .owl-nav div span em{font-size:30px;}.cms-index-index.cms-page2 #maincontent, .cms-page-view.cms-page2 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page2 #maincontent .page.messages, .cms-index-index.cms-page2 #maincontent .page.messages, .cms-index-index.cms-page2 #maincontent .section-builder , .cms-page-view.cms-page2 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page2 #maincontent .section-builder-full , .cms-page-view.cms-page2 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page5 #maincontent, .cms-page-view.cms-page5 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page5 #maincontent .page.messages, .cms-index-index.cms-page5 #maincontent .page.messages, .cms-index-index.cms-page5 #maincontent .section-builder , .cms-page-view.cms-page5 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page5 #maincontent .section-builder-full , .cms-page-view.cms-page5 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page6 #maincontent, .cms-page-view.cms-page6 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page6 #maincontent .page.messages, .cms-index-index.cms-page6 #maincontent .page.messages, .cms-index-index.cms-page6 #maincontent .section-builder , .cms-page-view.cms-page6 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page6 #maincontent .section-builder-full , .cms-page-view.cms-page6 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page7 #maincontent, .cms-page-view.cms-page7 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page7 #maincontent .page.messages, .cms-index-index.cms-page7 #maincontent .page.messages, .cms-index-index.cms-page7 #maincontent .section-builder , .cms-page-view.cms-page7 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page7 #maincontent .section-builder-full , .cms-page-view.cms-page7 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page8 #maincontent, .cms-page-view.cms-page8 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page8 #maincontent .page.messages, .cms-index-index.cms-page8 #maincontent .page.messages, .cms-index-index.cms-page8 #maincontent .section-builder , .cms-page-view.cms-page8 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page8 #maincontent .section-builder-full , .cms-page-view.cms-page8 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page9 #maincontent, .cms-page-view.cms-page9 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page9 #maincontent .page.messages, .cms-index-index.cms-page9 #maincontent .page.messages, .cms-index-index.cms-page9 #maincontent .section-builder , .cms-page-view.cms-page9 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page9 #maincontent .section-builder-full , .cms-page-view.cms-page9 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page10 #maincontent, .cms-page-view.cms-page10 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page10 #maincontent .page.messages, .cms-index-index.cms-page10 #maincontent .page.messages, .cms-index-index.cms-page10 #maincontent .section-builder , .cms-page-view.cms-page10 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page10 #maincontent .section-builder-full , .cms-page-view.cms-page10 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page11 #maincontent, .cms-page-view.cms-page11 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page11 #maincontent .page.messages, .cms-index-index.cms-page11 #maincontent .page.messages, .cms-index-index.cms-page11 #maincontent .section-builder , .cms-page-view.cms-page11 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page11 #maincontent .section-builder-full , .cms-page-view.cms-page11 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page12 #maincontent, .cms-page-view.cms-page12 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page12 #maincontent .page.messages, .cms-index-index.cms-page12 #maincontent .page.messages, .cms-index-index.cms-page12 #maincontent .section-builder , .cms-page-view.cms-page12 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page12 #maincontent .section-builder-full , .cms-page-view.cms-page12 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page17 #maincontent, .cms-page-view.cms-page17 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page17 #maincontent .page.messages, .cms-index-index.cms-page17 #maincontent .page.messages, .cms-index-index.cms-page17 #maincontent .section-builder , .cms-page-view.cms-page17 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page17 #maincontent .section-builder-full , .cms-page-view.cms-page17 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page18 #maincontent, .cms-page-view.cms-page18 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page18 #maincontent .page.messages, .cms-index-index.cms-page18 #maincontent .page.messages, .cms-index-index.cms-page18 #maincontent .section-builder , .cms-page-view.cms-page18 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page18 #maincontent .section-builder-full , .cms-page-view.cms-page18 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page20 #maincontent, .cms-page-view.cms-page20 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page20 #maincontent .page.messages, .cms-index-index.cms-page20 #maincontent .page.messages, .cms-index-index.cms-page20 #maincontent .section-builder , .cms-page-view.cms-page20 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page20 #maincontent .section-builder-full , .cms-page-view.cms-page20 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page21 #maincontent, .cms-page-view.cms-page21 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page21 #maincontent .page.messages, .cms-index-index.cms-page21 #maincontent .page.messages, .cms-index-index.cms-page21 #maincontent .section-builder , .cms-page-view.cms-page21 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page21 #maincontent .section-builder-full , .cms-page-view.cms-page21 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}.cms-index-index.cms-page22 #maincontent, .cms-page-view.cms-page22 #maincontent{max-width:inherit; padding-left:inherit; padding-right:inherit; overflow:hidden}.cms-page-view.cms-page22 #maincontent .page.messages, .cms-index-index.cms-page22 #maincontent .page.messages, .cms-index-index.cms-page22 #maincontent .section-builder , .cms-page-view.cms-page22 #maincontent .section-builder{max-width:1240px; margin:auto; box-sizing: border-box; padding-left:15px; padding-right:15px}.cms-index-index.cms-page22 #maincontent .section-builder-full , .cms-page-view.cms-page22 #maincontent .section-builder-full {max-width:inherit !important; padding-left:15px; padding-right:15px}form#search_mini_form {
    border: none;
    max-width: 500px;
    position: absolute;
    top: calc(100% + 0px);
    left: auto;
    right: 15px;
    bottom: 0;
    z-index: 9;
    height: 100%;
    background: 0 0;
    opacity: 0;
    visibility: hidden;
    width: calc(100vw - 30px);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

.block.block-search.active #search_mini_form {
    display: block;
    visibility: visible;
    opacity: 1;
}
.header-area.search-visible .search-form .block-search .block-content .form.minisearch .input-text::placeholder {
    color: #888;
    font-size: 16px;
}


.page-header .search-form .block-search .block-content .form.minisearch .input-text {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    min-width: auto;
    height: 40px;
    border: 0;
    background: 0 0;
    border-bottom: 1px solid rgba(255,255,255,.08);
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #333 !important;
    box-shadow: none;
    letter-spacing: 2px;
    min-height: 48px;
    background: #fff;
    border-radius: 0 !important;
}
.search-open .page-header .search-form .search-close {
    display: none;
}
body.boxed:not(.panel-popup) .page-header .frame .line, 
body.boxed:not(.panel-popup) .page-header .frame-fluid .line {
    margin: 0 15px;
}
.page-header .panel.wrapper, .page-header .top-header, .header .top-header {
    background-color: #ffffff !important;
}

@media (min-width: 1200px){
.header-area.search-visible .search-form .actions-search {
    display: block;
}

.header-area.search-visible .search-form .block-search .block-content .form.minisearch .input-text {
    border: 1px solid #888;
}
header.page-header .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 1170px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 18px;
    margin-left: 38px;
}
}

@media(max-width:1199px){
.search-open .page-header .search-form .actions-search .action-search { color: #56cfe1 !important; } .page-header .search-form .actions-search .action-search { color: #222 !important; }
   .header-area.search-visible .search-form .block-search .block-content .form.minisearch .input-text {
    border: 1px solid #888;
}
   .page-header .search-form .block-search{
      position: unset;
   }
   .page-header .search-form .block-search .block-content .form.minisearch {
    margin-top: 0;
}

.page-header .search-form .block-search .block-content .form.minisearch .input-text {
    max-width: 500px;
    float: right;
    position: absolute;
    text-align: left;
    padding: 0 30px;
}
header.page-header .header-area.active-sticky.scrolling {
        max-width: calc(100% - 60px);
    width: calc(100% - 60px);
}
}


@media(max-width: 767px){
.page-header .search-form .block-search {
    margin: 0 !important;
}
   form#search_mini_form {
max-width: 350px;
    top: calc(100% + -35px);
    right: 0;
   }
.block.block-search.active #search_mini_form {
    margin-top: 25px;
   }
body.boxed:not(.panel-popup) .page-header .frame .line, body.boxed:not(.panel-popup) .page-header .frame-fluid .line {
    margin: 0;
    padding: 0;
}
body.boxed:not(.panel-popup) .page-header .frame-fluid .line .col-mb-4.col-tb-4.justify-content-center {
    padding: 0;
}
.header-area .top-header .top-middle-header {
    padding-top: 5px;
    padding-bottom: 5px;
}
header.page-header .header-area.active-sticky.scrolling {
        max-width: 100%;
    width: 100%;
}
.header-area.header2 .top-header {
       padding-top: 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
footer.page-footer .middle-footer {
    margin-top: 40px;
    padding-top: 60px;
}
}

@media only screen and (max-width: 640px) {
.header-area.header2 .top-header {
    padding-top: 0;
}
}
.footer.content .block.newsletter .actions:hover .subscribe {
    background: #56cfe1;
    border-color: #56cfe1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

body {background-color: #f5f5f5 !important;}
.header-area .table-icon-menu > div {padding: 15px 6px 15px;}
.page-header {border-color: #f5f5f5 !important;}
header.page-header .header-area.active-sticky.scrolling {
    margin:0 auto;
    box-shadow: none;
border-bottom: 1px solid #f5f5f5 !important;
}
.page-footer .middle-footer {
    background-color: #fff;
}
.page-footer .bottom-footer {
    background-color: #fff !important;
    border-color: #f5f5f5 !important;
}
.page-header-sliders .slide-text > .inner-text {
    padding-left: 30px;
}
blockquote, .sub-title, .content-heading .block-note {
    font-family: "Libre Baskerville";
}
.slide-text .big-text, .slide-text h2 {
    font-size: 50px;
    font-weight: 700;
}
@media only screen and (max-width: 320px) {  
.header-area.header2 .top-header .top-custom-link ul li+li {
    padding-top: 5px;
}
.header-area.header2 .top-header .top-custom-link ul li {
    padding-top: 10px;
}
.header-area.header2 .top-header {
    padding-bottom: 5px;
}
}

@media(min-width: 1200px) {
header.page-header .header-area.active-sticky.scrolling {
    max-width: 1200px;
    width: 1200px;
}
}

@media(min-width:1200px){
header.page-header .navigation .nav-main-menu li:hover>ul.dropdown-menu .line, header.page-header .navigation .nav-main-menu li:hover>ul.dropdown-menu .line .multi-level {
    margin: 0 !important;
    padding: 0;
}
}
.footer.content .block.newsletter .actions:hover .subscribe {
    background: #56cfe1;
    border-color: #56cfe1;
}

span.action.top-links.theme-header-icon:hover, .page-header .search-form .actions-search .action-search:hover, span.wishlist-icon.icon-heart.theme-header-icon:hover, .top-wishlist:hover .wishlist-icon:before , .header-area .table-icon-menu .minicart-wrapper:hover .action.showcart:before { color: #56cfe1; }

