<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerApproval
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\Confirm" type="Bss\CustomerApproval\Controller\Account\Confirm" />
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="bss_set_registry" type="Bss\CustomerApproval\Plugin\LoginPost"/>
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="bss_set_registry" type="Bss\CustomerApproval\Plugin\CreatePost"/>
    </type>
    <type name="Magento\Customer\Model\EmailNotification">
        <plugin name="bss_check_create_account_email" type="Bss\CustomerApproval\Plugin\EmailNotification"/>
    </type>
    <type name="Magento\Customer\Model\Session">
        <plugin name="bss_check_set_customer_as_login" type="Bss\CustomerApproval\Plugin\CustomerSession"/>
    </type>

    <preference for="Bss\CustomerApproval\Api\CustomerApprovalManagementInterface" type="Bss\CustomerApproval\Model\CustomerApprovalManagement" />
</config>
