<?xml version="1.0"?>
<!--/**
 * Restrict Order Quantity
 *
 * @category Addify
 * @package  Addify_RestrictOrderQuantity
 * @author   Addify
 * @Email    info@addify.com
 */  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">


    <event name="controller_action_predispatch">
        <observer name="addify_robc_customer_redirect" instance="Addify\RestrictOrderByCustomer\Observer\CustomerRedirect"/>
    </event>
    <event name="controller_action_predispatch_multishipping_checkout_addressesPost">
        <observer name="addify_validate_cart_addressespost" instance="Addify\RestrictOrderByCustomer\Observer\AddressesPost" />
    </event>
    <event name="controller_action_predispatch_sales_order_reorder">
        <observer name="addify_validate_cart_reorder" instance="Addify\RestrictOrderByCustomer\Observer\Reorder" />
    </event>
    <event name="customer_login">
        <observer name="addify_robc_customer_login" instance="Addify\RestrictOrderByCustomer\Observer\CustomerLogin"/>
    </event>

</config>
