<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- MANAGE EXTRA PRODUCT TAB COLLECTION -->
                <item name="restrictorderbycustomer_listing_data_source" xsi:type="string">Addify\RestrictOrderByCustomer\Model\ResourceModel\RestrictOrderByCustomer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- MANAGE EXTRA PRODUCT TAB -->
    <type name="Addify\RestrictOrderByCustomer\Model\ResourceModel\RestrictOrderByCustomer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">addify_restrictorderquantitybycustomer</argument>
            <argument name="eventPrefix" xsi:type="string">restrictorderbycustomer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">restrictorderbycustomer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Addify\RestrictOrderByCustomer\Model\ResourceModel\RestrictOrderByCustomer</argument>
        </arguments>
    </type>
    <virtualType name="restrictorderbycustomerGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="restrictorderbycustomerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Addify\RestrictOrderByCustomer\Model\ResourceModel\RestrictOrderByCustomer\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">restrictorderbycustomerGirdFilterPool</argument>
        </arguments>
    </virtualType> 
</config>