<div if="pages > 1" class="orders-nav-wrap">
    <button class="action-previous" type="button" attr="title: $t('Previous Page')" click="prev" disable="isFirst()"></button>
    <input class="control-text" type="number" data-ui-id="current-page-input" attr="id: ++ko.uid" ko-value="_current"/>
    <label class="control-support-text" attr="for: ko.uid" text="'of ' + pages"/>
    <button class="action-next" type="button" attr="title: $t('Next Page')" click="next" disable="isLast()"></button>
</div>