<div if="isActiveModule()"
     class="aw-onestep-gift-message aw-onestep-sidebar-block payment-option aw-sidebar-product-options"
     data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': false}}">
    <div class="payment-option-title" data-role="title">
        <span class="action action-toggle toggle" data-bind="i18n: 'Gift Message'"></span>
    </div>
    <div class="gift-message-content"
         data-role="content"
         data-bind="blockLoader: isLoading"
         style="display: none;">
        <div if="isEditable()" class="gift-message-options">
            <!-- ko template: formTemplate --><!--/ko-->
        </div>
        <div ifnot="isEditable()" class="gift-message-summary">
            <!-- ko template: appliedTemplate --><!--/ko-->
        </div>
    </div>
</div>
